:root{
    --background-col : #372590;
    --bg-col-light: #fffef5;
    --text-col : #000000;
    --cards : #F7F5EA;
    --s-text : #163455;
    --accents : #345376;
    --accent : #5e98db;
    --hover : #E8DF76;
    --success : #2DC73D;
    --warn : #E8DF76;
    --err : #FF5E57;
    --text-light : #F7F5EA;
    --border-radius : 18px;
    --headings-family : "Manrope", sans-serif;
    --content-family : "Inter", sans-serif;

}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
.cont{
    margin-bottom: 80px;
    padding-bottom: 100px;
    background-color: whitesmoke;
    font-family: var(--content-family);
}
a{
    text-decoration: none;
    color: var(--text-light);
}

/* ------------------------------------------------------------NAV BAR------------------------------------------------- */
.nav-bar{
    background-color: var(--background-col);
    color: #fffef5;
    display: flex;
    flex: 1;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1000;
    
}
.left, .right{
    font-size: 28px;
    display: flex;
    flex: 1;
    margin: auto;
    align-items: center;
}
.left{
   justify-content: flex-start;
}
.right{
    justify-content: flex-end;
    padding-right: 3%;
}
.right i{
    font-size: 32px;
}
.title>h1{
    font-size: 36px;
}
.left>div, .right>div{
    margin: 2%;
}
.search-bar {
    /* width: 280px; */
    display: flex;
    align-items: center;
    border: 2px solid #444;
    border-radius: 30px;
    padding: 0 15px;
    background: var(--bg-col-light);
}
.search-bar input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 22px;
    background: var(--bg-col-light);
    border-radius: 30px;
}
.search-bar i {
    color: gray;
}
.nav-bar i {
    transition: all 0.25s ease;
    cursor: pointer;
}
.nav-bar i:hover {
    transform: scale(1.15);
    color: var(--hover);
}

/* --------------------------------------------------------------------SIDEBAR-------------------------------------------- */
.main-area{
    background-color: whitesmoke;
}
aside{
    padding: 0;
    margin: 0;
    font-family: var(--content-family); 
    width: 240px;
}
.sidebar {
    width: 240px;
    height: calc(100vh - 72px);
    background-color: var(--background-col);
    padding-top: 20px;
    font-size: 18px;
    position: fixed;
    top: 72px;
    left: 0;
    width: 250px;
    height: calc(100vh - 72px);
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 16px 24px;
    color: var(--text-light);

    cursor: pointer;
    transition: all 0.25s ease;
}

.menu-item i {
    font-size: 28px;
}

.menu-item:hover {
    background-color: rgba(255,255,255,0.08);
    padding-left: 30px;
}

.menu-item.active {
    background-color: #1a114c;
    border-left: 4px solid white;
    color: white;
}

.sidebar {
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar.collapsed span {
    display: none;
}

/* ----------------------------------KPI CONTAINER---------------------- */

.kpi-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:24px;
    margin:24px 0;
}

.kpi-card{
    /* background:#f7f5ea; */
    border-radius:16px;
    padding:24px;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:18px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
    transition:.2s;
    height: 100px;
}

.kpi-card:hover{
    transform:translateY(-3px);
    background-color: var(--bg-col-light);
}

.icon{
    width:52px;
    height:52px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
}

.purple{
    background:#eee5ff;
    color:#7b61ff;
}

.orange{
    background:#fff0d8;
    color:#f39c12;
}

.green{
    background:#dff5e5;
    color:#28a745;
}

.red{
    background:#fde2e2;
    color:#e74c3c;
}

.kpi-content p{
    margin:0;
    color:#666;
    font-size:15px;
}

.kpi-content h1{
    margin:8px 0;
    font-size:42px;
    font-weight:700;
    color:#1e1e1e;
}

.purple-text{
    color:#7b61ff;
    font-size:14px;
    font-weight:600;
}

.orange-text{
    color:#f39c12;
    font-size:14px;
    font-weight:600;
}

.green-text{
    color:#28a745;
    font-size:14px;
    font-weight:600;
}

.red-text{
    color:#e74c3c;
    font-size:14px;
    font-weight:600;
}

.content-box{
    background-color: whitesmoke;
    margin-left: 250px;
    margin-top: 0px;  
    padding: 20px;
    height: 100vh;
}

/* ---------------------------------------------TABLE---------------------------- */
.table-row {
    display: grid;
    grid-template-columns:2.2fr 1.3fr 1.3fr 1fr 1fr .7fr 1.2fr 1fr .5fr;
    align-items: center;
    padding: 18px 0px;
    border-bottom: 1px solid lightgray;
}

.table-header {
    /* background: var(--accent2); */
    font-weight: bold;
    color: #666;
}

.employee-cell {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-top: 18px;
    
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #6f8fb365;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
}

.employee-cell p {
    color: gray;
    font-size: 13px;
    /* margin-bottom: 32px; */
}

.tag {
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
}

.casual {
    background: #eee5ff;
    color: #7b61ff;
}

.approved {
    background: #dff5e5;
    color: #2e9b50;
}

.pending {
    background: #fdf0d8;
    color: #d97706;
}

.rejected {
    background: #ffe1e1;
    color: var(--err);
}

.table-row:hover {
    background: #fafafa;
}

.filters{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:12px;
    padding:20px;
    background: white;
    border-radius:12px;
    margin-bottom:20px;
}

.filters input,
.filters select{
    height:42px;
    padding:0 14px;
    border:1px solid #d9d9d9;
    border-radius:8px;
    font-size:15px;
    outline:none;
    background:#fff;
}

.filters input{
    width:280px;
}

.filters select{
    width:180px;
    cursor:pointer;
}

.filters button{
    height:42px;
    padding:0 20px;
    border:none;
    border-radius:8px;
    background: var(--accent2);
    color:#fff;
    font-size:15px;
    cursor:pointer;
    transition:0.2s;
}

.filters button:hover{
    background:#5b7ea5;
}

.table-header{
    display:grid;
    grid-template-columns:2fr 1.5fr 1.3fr 1fr 1fr 0.8fr 1.2fr 1fr 0.5fr;
    padding:18px 24px;
    background:#edf3fc;
    color:#556;
    font-weight:600;
    border-radius:10px 10px 0 0;
}

/* --------------------------------BUTTONS------------------------------ */

.actions{
    display:flex;
    gap:8px;
}

.approve-btn{
    padding:16px 32px;
    font-size: 18px;
    border:none;
    border-radius:8px;
    background:#dff5e5;
    color:#239b56;
    cursor:pointer;
}

.reject-btn{
    padding:16px 32px;
    font-size: 18px;
    border:none;
    border-radius:8px;
    background:#fde2e2;
    color:#d64545;
    cursor:pointer;
}

.approve-btn:hover{
    background:#c9edd3;
    border: 1px solid #135e34;
}

.reject-btn:hover{
    background:#f8cccc;
    border: 1px solid #671c1c ;
}